@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Poltawski+Nowy&family=Roboto+Slab:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Poltawski+Nowy&family=Roboto+Slab:wght@200;300&family=Ubuntu:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Poltawski+Nowy&family=Roboto+Slab:wght@200;300&family=Ubuntu:ital,wght@1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  border-bottom: 4px solid black;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 19vw;
  background-color: rgb(212, 212, 212);
  width: 100%;
}
.navbar .nbDiv1 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: end;
  flex-wrap: nowrap;
  gap: 0px;
}
.navbar .nbDiv1 h1 {
  font-family: "Poltawski Nowy", serif;
  font-size: 2vw;
  text-align: center;
  transform: translateY(-10px);
}
.navbar .nbDiv1 h1 a {
  text-decoration: none;
  color: inherit;
}
.navbar .nbDiv1 img {
  width: 90px;
  height: 90px;
  position: relative;
  top: 5px;
}
.navbar .nbDiv2 .container {
  padding: 0px;
}
.navbar .nbDiv2 .container .btn-close .navbar-toggler-icon {
  padding: 20px !important;
}
.navbar .nbDiv2 .container .offcanvas .offcanvas-body .navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1.5vw;
  width: 100%;
  padding: 0px;
}
.navbar .nbDiv2 .container .offcanvas .offcanvas-body .navbar-nav .nav-item {
  z-index: 1000;
  margin: 0px 10px;
  padding: 0px;
  width: 50%;
  border-radius: 15px;
  border-style: inset;
  border-color: rgb(167, 167, 167);
  border-width: 0px;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.3vw;
  text-align: center;
  transform: translateY(5px);
  transition: all 0.5s;
}
.navbar .nbDiv2 .container .offcanvas .offcanvas-body .navbar-nav .nav-item:hover {
  border-radius: 75px;
  font-weight: bold;
  transform: translateY(-5px);
}
.navbar .nbDiv2 .container .offcanvas .offcanvas-body .navbar-nav .nav-item .dropdown-menu {
  background-color: rgb(212, 212, 212);
  align-items: center;
  display: column;
}
.navbar .nbDiv2 .container .offcanvas .offcanvas-body .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  font-family: "Poltawski Nowy", serif;
  font-size: 1.3vw;
  text-align: center;
}
.navbar .nbDiv2 .container .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link {
  color: inherit;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1vw;
  width: 30vw;
  height: 7vw;
  border-radius: 100px;
  background-color: rgb(212, 212, 212);
  transform: translateX(34.5vw);
  margin: 20px;
}
.footer p {
  font-size: 1vw;
  height: 1px;
}
.footer .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2vw;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.footer .wrapper .icon {
  width: 2.5vw;
  height: 2.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0px;
  border-radius: 50px;
  border-style: groove;
  border-color: transparent;
  border-width: 1px;
  position: relative;
  background: #ffffff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.footer .wrapper .icon .tooltip {
  border-radius: 50px;
  position: absolute;
  top: 0;
  font-size: 15px;
  padding: 5px 8px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.footer .wrapper .icon .tooltip:before {
  width: 8px;
  height: 8px;
  position: absolute;
  content: "";
  background: rgb(255, 253, 253);
  bottom: -10px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.footer .wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.footer .wrapper .icon:hover svg span {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.footer .wrapper .icon span a svg {
  width: 1.5vw;
  height: 1.5vw;
}
.footer .wrapper .instagram:hover, .footer .wrapper .instagram .tooltip, .footer .wrapper .instagram:before {
  background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
  color: white;
}
.footer .wrapper .facebook:hover, .footer .wrapper .facebook .tooltip, .footer .wrapper .facebook:before {
  background: #1877F2;
  color: white;
}
.footer .wrapper .whatsapp:hover, .footer .wrapper .whatsapp .tooltip, .footer .wrapper .whatsapp:before {
  background: green;
  color: white;
}
.footer .wrapper .icon span svg {
  color: black;
  width: 28px;
  height: auto;
}
.footer .wrapper .icon:hover span svg {
  color: white;
}

body {
  background: url("../../images/background/bg.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.sectionIndex {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.sectionIndex h2 {
  font-family: "Poltawski Nowy", serif;
  font-size: 3.5vw;
  text-align: center;
  background: rgba(255, 255, 255, 0.435);
  border-radius: 100px;
  padding: 10px;
}
.sectionIndex .servicios {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1vw;
}
.sectionIndex .servicios div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1vw;
}
.sectionIndex .servicios div .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1vw;
  background-color: rgba(255, 255, 255, 0.435);
  overflow: hidden;
  border-radius: 20px;
}
.sectionIndex .servicios div .card img {
  width: 23vw;
  height: 23vw;
  border-radius: 20px;
  object-fit: cover;
  filter: grayscale(90%);
  transform: scale(0.8);
}
.sectionIndex .servicios div .card:hover img {
  transition: all 0.5s ease-in-out;
  filter: grayscale(0%);
  -webkit-transform: scale(-1.3);
  transform: scale(1);
}
.sectionIndex .servicios div .card .card-body h3 {
  font-family: "Poltawski Nowy", serif;
  font-size: 1.8vw;
  text-align: center;
}
.sectionIndex .servicios div .card .card-body h3 a {
  text-decoration: none;
  color: inherit;
}

.sectionContacto {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
}
.sectionContacto h2 {
  font-family: "Poltawski Nowy", serif;
  font-size: 4vw;
  text-align: center;
  background: rgba(255, 255, 255, 0.435);
  border-radius: 100px;
  padding: 10px;
}
.sectionContacto .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2vw;
}
.sectionContacto .container .direccion {
  background-color: lightgray;
  padding: 30px;
  border-radius: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.sectionContacto .container .direccion h3 {
  font-family: "Poltawski Nowy", serif;
  font-size: 1.8vw;
  text-align: center;
}
.sectionContacto .container .direccion iframe {
  width: 40vw;
  height: 27vw;
  border-radius: 25px;
}
.sectionContacto .container .telefonos {
  background-color: lightgray;
  border-radius: 75px;
}
.sectionContacto .container .telefonos ul {
  width: 35vw;
  height: 31vw;
  list-style: none;
}
.sectionContacto .container .telefonos ul li {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.2vw;
  text-align: center;
  padding: 5px;
}

.empresa {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 40px;
}
.empresa .info1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
}
.empresa .info1 div {
  border-radius: 75px;
  border-style: groove;
  border-color: grey;
  border-width: 5px;
  background-color: rgb(189, 189, 189);
  list-style-type: none;
  width: 60vw;
  padding: 30px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.empresa .info1 div h2 {
  font-family: "Poltawski Nowy", serif;
  font-size: 3vw;
  text-align: center;
  text-decoration: solid;
  text-decoration-line: underline;
}
.empresa .info1 div p {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5vw;
  text-align: justify;
}
.empresa .info1 img {
  width: 18vw;
  height: 18vw;
  border-radius: 75px;
  border-style: groove;
  border-color: grey;
  border-width: 5px;
  object-fit: cover;
}
.empresa .info2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
}
.empresa .info2 img {
  width: 30vw;
  height: auto;
  border-radius: 75px;
  border-style: groove;
  border-color: grey;
  border-width: 5px;
}
.empresa .info2 div {
  border-radius: 75px;
  border-style: groove;
  border-color: grey;
  border-width: 5px;
  background-color: rgb(189, 189, 189);
  list-style-type: none;
  width: 60vw;
  padding: 30px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.empresa .info2 div h2 {
  font-family: "Poltawski Nowy", serif;
  font-size: 3vw;
  text-align: center;
  text-decoration: solid;
  text-decoration-line: underline;
}
.empresa .info2 div p {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5vw;
  text-align: justify;
}
.empresa .info2 div ul {
  list-style: circle;
}
.empresa .info2 div ul li {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5vw;
  text-align: justify;
}

.clientes {
  background: linear-gradient(rgb(189, 189, 189), 60%, rgb(0, 0, 0));
  border-radius: 75px;
  width: 80%;
  padding: 20px;
  position: relative;
  left: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.clientes h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 4vw;
  text-align: center;
}
.clientes .carousels {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10vw;
}
.clientes .carousels .carousel .carousel-inner {
  width: 15vw;
  height: 15vw;
  display: flex;
  align-items: center;
}
.clientes .carousels .carousel .carousel-inner .carousel-item img {
  object-fit: contain;
  width: 20vw;
  height: auto;
}

.equipo {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
}
.equipo .info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
}
.equipo .info .imagenes {
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.equipo .info .imagenes img {
  object-fit: cover;
  border-radius: 75px;
  border-style: groove;
  border-color: grey;
  border-width: 5px;
  width: 20vw;
  height: 12vw;
}
.equipo .info .texto {
  width: 50vw;
  border-radius: 100px;
  border-style: groove;
  border-color: grey;
  border-width: 5px;
  background: linear-gradient(rgba(255, 255, 255, 0.435), 20%, rgb(189, 189, 189), rgba(255, 255, 255, 0.435));
  padding: 40px;
}
.equipo .info .texto h2 {
  font-family: "Poltawski Nowy", serif;
  font-size: 2.5vw;
  text-align: center;
  text-decoration: solid;
  text-decoration-line: underline;
}
.equipo .info .texto p {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5vw;
  text-align: justify;
}

.equipamiento {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0px;
}
.equipamiento .equipamiento-info {
  width: 80vw;
  border-radius: 100px;
  border-style: groove;
  border-color: grey;
  border-width: 5px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  background: linear-gradient(rgba(255, 255, 255, 0.435), 30%, rgb(189, 189, 189));
  padding: 30px 30px 0px 30px;
}
.equipamiento .equipamiento-info h2 {
  font-family: "Poltawski Nowy", serif;
  font-size: 2.5vw;
  text-align: center;
  text-decoration: solid;
  text-decoration-line: underline;
}
.equipamiento .equipamiento-info p {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5vw;
  text-align: justify;
}
.equipamiento .equipamiento-galeria {
  background: linear-gradient(rgb(189, 189, 189), 40%, rgba(255, 255, 255, 0.435));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  border-radius: 75px;
  border-style: groove;
  border-color: grey;
  border-width: 5px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  padding: 30px;
}
.equipamiento .equipamiento-galeria div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.equipamiento .equipamiento-galeria div img {
  width: 25vw;
  height: 15vw;
  border-radius: 50px;
}

.servicios-navales {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.servicios-navales h2 {
  font-family: "Poltawski Nowy", serif;
  font-size: 3vw;
  text-align: center;
  background: rgba(255, 255, 255, 0.435);
  border-radius: 100px;
  padding: 10px;
}
.servicios-navales .servNavales {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 30px;
}
.servicios-navales .servNavales ul {
  background-color: transparent;
  list-style-type: square;
  width: 40vw;
  padding: 30px;
}
.servicios-navales .servNavales ul li {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.7vw;
  text-align: justify;
}
.servicios-navales .servNavales .serNavales-galeria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  border-radius: 50px;
  border-style: double;
  border-color: grey;
  border-width: 8px;
  padding: 2vw;
  background-color: rgba(176, 173, 173, 0.404);
}
.servicios-navales .servNavales .serNavales-galeria div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.servicios-navales .servNavales .serNavales-galeria div img {
  object-fit: cover;
  width: 15vw;
  height: 15vw;
  border-radius: 50px;
}

.servicios-petroleros {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.servicios-petroleros h2 {
  font-family: "Poltawski Nowy", serif;
  font-size: 3vw;
  text-align: center;
  background: rgba(255, 255, 255, 0.435);
  border-radius: 100px;
  padding: 10px;
}
.servicios-petroleros .servPetroleros {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 30px;
}
.servicios-petroleros .servPetroleros ul {
  background-color: rgb(189, 189, 189);
  list-style-type: square;
  width: 40vw;
  padding: 40px;
  background-color: transparent;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.servicios-petroleros .servPetroleros ul li {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.7vw;
  text-align: justify;
}
.servicios-petroleros .servPetroleros .servPetroleros-galeria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  border-radius: 50px;
  border-style: double;
  border-color: grey;
  border-width: 8px;
  padding: 40px;
  background-color: rgba(176, 173, 173, 0.404);
}
.servicios-petroleros .servPetroleros .servPetroleros-galeria div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.servicios-petroleros .servPetroleros .servPetroleros-galeria div img {
  object-fit: cover;
  border-radius: 50px;
  width: 11vw;
  height: 11vw;
}

.servicios-transporte {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.servicios-transporte h2 {
  font-family: "Poltawski Nowy", serif;
  font-size: 3vw;
  text-align: center;
  background: rgba(255, 255, 255, 0.435);
  border-radius: 100px;
  padding: 10px;
}
.servicios-transporte .servTransporte {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 30px;
}
.servicios-transporte .servTransporte ul {
  background-color: transparent;
  list-style-type: square;
  width: 40vw;
  padding: 35px;
}
.servicios-transporte .servTransporte ul li {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.8vw;
  text-align: justify;
}
.servicios-transporte .servTransporte .servTransporte-galeria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  border-radius: 50px;
  border-style: double;
  border-color: grey;
  border-width: 8px;
  padding: 1.5vw;
  background-color: rgba(176, 173, 173, 0.404);
}
.servicios-transporte .servTransporte .servTransporte-galeria div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.servicios-transporte .servTransporte .servTransporte-galeria div img {
  object-fit: cover;
  width: 15vw;
  height: 15vw;
  border-radius: 50px;
}

.servicios-gruas {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.servicios-gruas h2 {
  font-family: "Poltawski Nowy", serif;
  font-size: 4vw;
  text-align: center;
  background: rgba(255, 255, 255, 0.435);
  border-radius: 100px;
  padding: 10px;
}
.servicios-gruas .servGruas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 30px;
}
.servicios-gruas .servGruas ul {
  background-color: transparent;
  list-style-type: none;
  width: 40vw;
  padding: 30px;
}
.servicios-gruas .servGruas ul li {
  font-family: "Ubuntu", sans-serif;
  font-size: 3vw;
  text-align: justify;
}
.servicios-gruas .servGruas .serGruas-galeria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  border-radius: 50px;
  border-style: double;
  border-color: grey;
  border-width: 8px;
  padding: 1.5vw;
  background-color: rgba(176, 173, 173, 0.404);
}
.servicios-gruas .servGruas .serGruas-galeria div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.servicios-gruas .servGruas .serGruas-galeria div img {
  object-fit: cover;
  width: 15vw;
  height: 15vw;
  border-radius: 50px;
}

.fragata {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.fragata h2 {
  font-family: "Poltawski Nowy", serif;
  font-size: 4vw;
  text-align: center;
  text-decoration: underline;
}
.fragata .fragata-info {
  border-radius: 75px;
  border-style: groove;
  border-color: black;
  border-width: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background: linear-gradient(rgb(189, 189, 189), 60%, rgba(255, 255, 255, 0.435));
  padding: 5px;
}
.fragata .fragata-info div iframe {
  width: 30vw;
  height: 30vw;
  border-radius: 25px;
  margin-bottom: 20px;
}
.fragata .fragata-info p {
  width: 60vw;
  font-family: "Poltawski Nowy", serif;
  font-size: 2vw;
  text-align: justify;
}

.irizar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.irizar h2 {
  font-family: "Poltawski Nowy", serif;
  font-size: 4vw;
  text-align: center;
  text-decoration: underline;
  padding: 40px 0px 20px 0px;
  margin: 0px;
}
.irizar .irizar-info {
  border-radius: 75px;
  border-style: groove;
  border-color: black;
  border-width: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 50px;
  padding: 20px;
  background: linear-gradient(rgb(189, 189, 189), 60%, rgba(255, 255, 255, 0.435));
}
.irizar .irizar-info .irizar-galeria div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.irizar .irizar-info .irizar-galeria div img {
  width: 15vw;
  height: 15vw;
  object-fit: cover;
  border-radius: 50px;
}
.irizar .irizar-info p {
  width: 30vw;
  font-family: "Poltawski Nowy", serif;
  font-size: 2vw;
  text-align: justify;
  color: black;
  position: relative;
}

@media only screen and (max-width: 1399.99px) {
  .navbar {
    padding-bottom: 10px;
  }
  .navbar .nbDiv1 h1 {
    transform: translateY(-10px);
  }
  .navbar .nbDiv2 .container .offcanvas .offcanvas-body .navbar-nav {
    gap: 0vw;
  }
  .navbar .nbDiv2 .container .offcanvas .offcanvas-body .navbar-nav .nav-item {
    transform: translateY(5px);
    font-size: 1.5vw;
  }
  .footer {
    margin: 20px 0px;
    transform: translateX(35.1vw);
  }
  .antecedentesMain .fragata-info iframe {
    width: 40vw;
    height: 40vw;
  }
  .servicios-petroleros .servPetroleros .servPetroleros-galeria div img {
    width: 13vw;
    height: 13vw;
  }
}
@media only screen and (max-width: 1199.99px) {
  .navbar {
    gap: 21.7vw;
  }
  .navbar .nbDiv1 h1 {
    transform: translateY(-16px);
    font-size: 1.8vw;
  }
  .navbar .nbDiv2 .container .offcanvas .offcanvas-body .navbar-nav .nav-item {
    font-size: 1.3vw;
  }
  .footer .icon span a svg {
    position: relative;
    top: -1px;
  }
}
@media only screen and (max-width: 991px) {
  .navbar {
    gap: 25vw;
  }
  .navbar .nbDiv1 h1 {
    transform: translateY(-0.5vw);
    font-size: 4vw;
  }
  .navbar .nbDiv2 .container .offcanvas .offcanvas-body .navbar-nav {
    flex-direction: column;
    gap: 3vw;
  }
  .navbar .nbDiv2 .container .offcanvas .offcanvas-body .navbar-nav .nav-item {
    font-size: 3.5vw;
  }
  .navbar .nbDiv2 .container .offcanvas .offcanvas-body .navbar-nav .nav-item .dropdown-menu {
    background-color: inherit;
    width: 25vw;
  }
  .navbar .nbDiv2 .container .offcanvas .offcanvas-body .navbar-nav .nav-item .dropdown-menu .dropdown-item {
    font-size: 2vw;
  }
  .footer {
    width: 35vw;
    height: 10vw;
    transform: translateX(31.8vw);
  }
  .footer .wrapper {
    padding: 0px;
  }
  .footer .wrapper .icon {
    width: 40px;
    height: 40px;
  }
  .footer .wrapper .icon span a svg {
    color: white;
    width: 25px;
    height: 25px;
  }
  .footer .wrapper .icon .tooltip {
    display: none;
  }
  .footer .wrapper .whatsapp {
    background: green;
  }
  .footer .wrapper .facebook {
    background: #1877F2;
  }
  .footer .wrapper .instagram {
    background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
  }
  .sectionIndex .servicios {
    flex-direction: column;
  }
  .sectionIndex .servicios div .card img {
    width: 35vw;
    height: 35vw;
  }
  .sectionIndex .servicios div .card .card-body {
    padding: 0px;
    width: 100%;
  }
  .sectionIndex .servicios div .card .card-body h3 {
    font-size: 2.5vw;
  }
  .servicios-navales .servNavales {
    flex-direction: column;
    gap: 10px;
  }
  .servicios-navales .servNavales ul {
    background-color: transparent;
    list-style-type: square;
    width: 70vw;
    padding: 20px;
  }
  .servicios-navales .servNavales ul li {
    font-size: 2.3vw;
    font-weight: bold;
  }
  .servicios-navales .servNavales .serNavales-galeria div img {
    width: 20vw;
    height: 20vw;
  }
  .servicios-petroleros .servPetroleros {
    flex-direction: column;
    gap: 10px;
  }
  .servicios-petroleros .servPetroleros ul {
    background-color: transparent;
    list-style-type: square;
    width: 70vw;
    padding: 20px;
  }
  .servicios-petroleros .servPetroleros ul li {
    font-size: 2.3vw;
    font-weight: bold;
  }
  .servicios-petroleros .servPetroleros .servPetroleros-galeria {
    flex-direction: row;
  }
  .servicios-petroleros .servPetroleros .servPetroleros-galeria div {
    flex-direction: column;
  }
  .servicios-petroleros .servPetroleros .servPetroleros-galeria div img {
    width: 20vw;
    height: 20vw;
  }
  .servicios-transporte .servTransporte {
    flex-direction: column;
    gap: 10px;
  }
  .servicios-transporte .servTransporte ul {
    background-color: transparent;
    list-style-type: square;
    width: 70vw;
    padding: 20px;
  }
  .servicios-transporte .servTransporte ul li {
    font-size: 3vw;
    font-weight: bold;
  }
  .servicios-transporte .servTransporte .servTransporte-galeria div img {
    width: 20vw;
    height: 20vw;
  }
  .servicios-gruas .servGruas {
    flex-direction: column;
    gap: 10px;
  }
  .servicios-gruas .servGruas ul {
    background-color: transparent;
    list-style-type: square;
    width: 70vw;
    padding: 20px;
  }
  .servicios-gruas .servGruas ul li {
    font-size: 3vw;
    font-weight: bold;
  }
  .servicios-gruas .servGruas .serGruas-galeria div {
    flex-direction: row;
  }
  .servicios-gruas .servGruas .serGruas-galeria div img {
    width: 30vw;
    height: 30vw;
  }
  .fragata .fragata-info div iframe {
    width: 400px;
    height: 400px;
  }
  .fragata .fragata-info p {
    font-size: 2.5vw;
  }
  .irizar .irizar-info {
    flex-direction: column;
    width: 65vw;
    gap: 10px;
  }
  .irizar .irizar-info .irizar-galeria div img {
    width: 20vw;
    height: 20vw;
    border-radius: 50px;
  }
  .irizar .irizar-info p {
    width: 80%;
    font-size: 2.5vw;
  }
  .equipo .info .imagenes img {
    width: 25vw;
    height: 15vw;
  }
  .equipo .info .texto p {
    font-size: 1.7vw;
  }
  .equipamiento .equipamiento-info p {
    font-size: 1.8vw;
  }
  .empresa .info1 div p {
    font-size: 1.7vw;
  }
  .empresa .info1 img {
    width: 25vw;
    height: auto;
    border-radius: 50px;
  }
  .empresa .info2 {
    width: 100%;
  }
  .empresa .info2 img {
    border-radius: 50px;
    width: 35vw;
    height: auto;
  }
  .empresa .info2 div p {
    font-size: 1.8vw;
  }
  .empresa .info2 div ul li {
    font-size: 1.6vw;
  }
  .sectionContacto .container {
    flex-direction: column;
  }
  .sectionContacto .container .direccion iframe {
    border-radius: 50px;
  }
  .sectionContacto .container .telefonos ul {
    padding: 0px;
  }
}
@media only screen and (max-width: 576px) {
  .navbar {
    width: 100%;
    gap: 10vw;
  }
  .navbar .nbDiv1 h1 {
    font-size: 4.5vw;
  }
  .navbar .nbDiv1 img {
    width: 15vw;
    height: 15vw;
  }
  .navbar .nbDiv2 .container .btn {
    width: 40px;
    height: 40px;
  }
  .navbar .nbDiv2 .container .btn .navbar-toggler-icon {
    width: 35px;
    height: 35px;
    transform: translate(-11px, -3.5px);
  }
  .navbar .nbDiv2 .container .offcanvas {
    width: 70vw;
  }
  .navbar .nbDiv2 .container .offcanvas .offcanvas-body .navbar-nav {
    flex-direction: column;
    gap: 3vw;
    align-items: center;
    justify-content: center;
  }
  .navbar .nbDiv2 .container .offcanvas .offcanvas-body .navbar-nav .nav-item {
    display: flex;
    flex-direction: column;
    font-size: 5vw;
    align-items: center;
    justify-content: center;
  }
  .navbar .nbDiv2 .container .offcanvas .offcanvas-body .navbar-nav .nav-item .dropdown-menu {
    width: 45vw;
  }
  .navbar .nbDiv2 .container .offcanvas .offcanvas-body .navbar-nav .nav-item .dropdown-menu .dropdown-item {
    font-size: 3.5vw;
  }
  .footer {
    width: 50vw;
    height: 18vw;
    transform: translateX(25.5vw);
    margin: 15px 0px;
  }
  .footer p {
    font-size: 2vw;
  }
  .footer .wrapper {
    transform: translate(0px, -5px);
    margin: 0px;
    gap: 10px;
  }
  .footer .wrapper .icon {
    width: 35px;
    height: 35px;
    margin: 5px;
  }
  .footer .wrapper .icon span a svg {
    color: white;
    width: 25px;
    height: 25px;
  }
  .footer .wrapper .whatsapp {
    background: green;
  }
  .footer .wrapper .facebook {
    background: #1877F2;
  }
  .footer .wrapper .instagram {
    background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
  }
  .sectionIndex h2 {
    font-size: 8vw;
  }
  .sectionIndex .servicios {
    flex-direction: column;
  }
  .sectionIndex .servicios div .card img {
    width: 45vw;
    height: 45vw;
  }
  .sectionIndex .servicios div .card .card-body h3 {
    font-size: 3.5vw;
  }
  .sectionContacto .container {
    flex-direction: column;
  }
  .sectionContacto .container .direccion iframe {
    border-radius: 50px;
  }
  .sectionContacto .container .telefonos ul {
    width: 50vw;
    height: 32vw;
    padding: 0px;
  }
  .servicios-navales h2 {
    font-size: 4vw;
  }
  .servicios-navales .servNavales {
    flex-direction: column;
    gap: 10px;
  }
  .servicios-navales .servNavales ul {
    padding: 5px;
    margin-bottom: 0px;
  }
  .servicios-navales .servNavales ul li {
    font-size: 3.5vw;
  }
  .servicios-navales .servNavales .serNavales-galeria {
    border-radius: 25px;
  }
  .servicios-navales .servNavales .serNavales-galeria div img {
    border-radius: 25px;
  }
  .servicios-petroleros h2 {
    font-size: 4vw;
  }
  .servicios-petroleros .servPetroleros {
    flex-direction: column;
    gap: 10px;
  }
  .servicios-petroleros .servPetroleros ul {
    margin: 0px;
    padding: 5px;
  }
  .servicios-petroleros .servPetroleros ul li {
    font-size: 3.5vw;
  }
  .servicios-petroleros .servPetroleros .servPetroleros-galeria {
    padding: 15px;
    flex-direction: row;
  }
  .servicios-petroleros .servPetroleros .servPetroleros-galeria div img {
    border-radius: 25px;
  }
  .servicios-transporte h2 {
    font-size: 4vw;
  }
  .servicios-transporte .servTransporte ul {
    margin: 0px;
    padding: 5px;
  }
  .servicios-transporte .servTransporte ul li {
    font-size: 4vw;
  }
  .servicios-transporte .servTransporte .servTransporte-galeria {
    border-radius: 25px;
  }
  .servicios-transporte .servTransporte .servTransporte-galeria div img {
    border-radius: 25px;
  }
  .servicios-gruas h2 {
    font-family: 5vw;
  }
  .servicios-gruas .servGruas ul {
    margin: 0px;
    padding: 5px;
  }
  .servicios-gruas .servGruas ul li {
    font-size: 4vw;
  }
  .servicios-gruas .servGruas .serGruas-galeria {
    border-radius: 25px;
  }
  .servicios-gruas .servGruas .serGruas-galeria div img {
    border-radius: 25px;
  }
  .fragata h2 {
    font-size: 7vw;
  }
  .fragata .fragata-info {
    margin: 0px;
    padding: 10px 5px 10px 5px;
    border-radius: 0px;
    width: 70vw;
  }
  .fragata .fragata-info div {
    height: 50vw;
  }
  .fragata .fragata-info div iframe {
    width: 60vw;
    height: 60vw;
    border-width: 0px;
    margin: 0px;
  }
  .fragata .fragata-info p {
    font-size: 3.5vw;
  }
  .irizar h2 {
    font-size: 8vw;
    padding-bottom: 5px;
  }
  .irizar .irizar-info {
    flex-direction: column-reverse;
    gap: 10px;
    width: 70vw;
    padding: 15px 5px;
    border-radius: 40px;
  }
  .irizar .irizar-info .irizar-galeria div {
    gap: 25px;
  }
  .irizar .irizar-info .irizar-galeria div img {
    width: 22vw;
    height: 22vw;
    border-radius: 20px;
  }
  .irizar .irizar-info p {
    width: 80%;
    font-size: 4vw;
    margin: 0px;
  }
  .sectionContacto h2 {
    font-size: 7vw;
  }
  .sectionContacto .container .direccion {
    padding: 0px;
    border-radius: 20px;
    width: 80vw;
    height: 70vw;
  }
  .sectionContacto .container .direccion h3 {
    font-size: 5vw;
  }
  .sectionContacto .container .direccion iframe {
    width: 70vw;
    height: 40vw;
    border-radius: 20px;
  }
  .sectionContacto .container .telefonos {
    width: 60vw;
    height: 70vw;
    border-radius: 20px;
    justify-content: center;
    align-content: center;
    display: flex;
  }
  .sectionContacto .container .telefonos ul li {
    font-size: 4.1vw;
  }
  .equipo .info {
    gap: 0px;
  }
  .equipo .info .imagenes {
    width: 35%;
  }
  .equipo .info .imagenes img {
    width: 30vw;
    height: 20vw;
    border-radius: 25px;
  }
  .equipo .info .texto {
    border-radius: 25px;
    padding: 5px;
    width: 60%;
  }
  .equipo .info .texto h2 {
    font-size: 4vw;
  }
  .equipo .info .texto p {
    font-size: 3vw;
  }
  .equipamiento .equipamiento-info {
    width: 90vw;
    border-radius: 25px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 15px;
  }
  .equipamiento .equipamiento-info h2 {
    font-size: 4vw;
  }
  .equipamiento .equipamiento-info p {
    font-size: 3.5vw;
  }
  .equipamiento .equipamiento-galeria {
    border-radius: 25px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    padding: 10px;
    width: 90vw;
  }
  .equipamiento .equipamiento-galeria div img {
    border-radius: 25px;
    width: 25vw;
    height: 20vw;
  }
  .empresa {
    gap: 0;
  }
  .empresa .info1 {
    flex-direction: column;
  }
  .empresa .info1 div {
    background: linear-gradient(rgba(255, 255, 255, 0.435), 20%, rgb(189, 189, 189));
    border-radius: 75px;
    width: 80vw;
  }
  .empresa .info1 div h2 {
    font-size: 5vw;
  }
  .empresa .info1 div p {
    font-size: 3.5vw;
  }
  .empresa .info1 img {
    display: none;
  }
  .empresa .info2 {
    flex-direction: column;
    width: 100%;
  }
  .empresa .info2 img {
    width: 60vw;
    height: auto;
  }
  .empresa .info2 div {
    background: linear-gradient(rgb(189, 189, 189), 40%, rgba(255, 255, 255, 0.435));
    border-radius: 25px;
    width: 80vw;
  }
  .empresa .info2 div h2 {
    font-size: 5vw;
  }
  .empresa .info2 div p {
    font-size: 3.5vw;
  }
  .empresa .info2 div ul li {
    padding: 0px;
    font-weight: bold;
    font-size: 3vw;
  }
  .clientes {
    padding: 20px;
    border-radius: 50px;
  }
  .clientes h2 {
    font-size: 8vw;
  }
  .clientes .carousels .carousel .carousel-inner {
    width: 20vw;
    height: 20vw;
  }
  .clientes .carousels .carousel .carousel-inner .carousel-item img {
    width: 50vw;
    height: auto;
  }
}

/*# sourceMappingURL=style.css.map */
