@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Poltawski+Nowy&family=Roboto+Slab:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Poltawski+Nowy&family=Roboto+Slab:wght@200;300&family=Ubuntu:ital,wght@1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.generalNavBar {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5px;
  width: 70vw;
  height: auto;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: rgb(212, 212, 212);
  position: relative;
  left: 15%;
}
.generalNavBar .nbDiv1 {
  padding: 15px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.generalNavBar .nbDiv1 h1 {
  font-size: 4vw;
  font-family: "Poltawski Nowy", serif;
  box-shadow: 5px 5px 5px rgb(95, 96, 96);
}
.generalNavBar .nbDiv1 img {
  width: 150px;
  height: auto;
}
.generalNavBar .nbDiv2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1.5vw;
}
.generalNavBar .nbDiv2 .btn {
  border-radius: 15px;
  border-style: groove;
  border-color: rgb(167, 167, 167);
  border-width: 3px;
  font-family: "Poltawski Nowy", serif;
  font-size: 1.2vw;
  box-shadow: 5px 5px rgb(95, 96, 96);
  position: relative;
  transition: all ease-in-out;
}
.generalNavBar .nbDiv2 .btn:hover {
  top: 5px;
  left: 5px;
  box-shadow: none;
}

.footer {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5px;
  width: 70vw;
  height: auto;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  background-color: rgb(212, 212, 212);
  position: relative;
  left: 15%;
}
.footer h3 {
  font-family: "Poltawski Nowy", serif;
}
.footer .wrapper {
  display: inline-flex;
  list-style: none;
}
.footer .wrapper .icon {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0px;
  border-radius: 50px;
  border-style: groove;
  border-color: transparent;
  border-width: 1px;
  position: relative;
  background: #ffffff;
  margin: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.footer .wrapper .icon .tooltip {
  border-radius: 50px;
  position: absolute;
  top: 0;
  font-size: 15px;
  padding: 5px 8px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.footer .wrapper .icon .tooltip:before {
  width: 8px;
  height: 8px;
  position: absolute;
  content: "";
  background: rgb(255, 253, 253);
  bottom: -10px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.footer .wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.footer .wrapper .icon:hover svg span {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.footer .wrapper .instagram:hover, .footer .wrapper .instagram .tooltip, .footer .wrapper .instagram:before {
  background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
  color: white;
}
.footer .wrapper .facebook:hover, .footer .wrapper .facebook .tooltip, .footer .wrapper .facebook:before {
  background: #1877F2;
  color: white;
}
.footer .wrapper .whatsapp:hover, .footer .wrapper .whatsapp .tooltip, .footer .wrapper .whatsapp:before {
  background: green;
  color: white;
}
.footer .wrapper .icon span svg {
  color: black;
  width: 28px;
  height: auto;
}
.footer .wrapper .icon:hover span svg {
  color: white;
}

body {
  background: url("../../images/bg.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.sectionIndex {
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.sectionIndex h2 {
  font-family: "Poltawski Nowy", serif;
  font-size: 50px;
  text-align: center;
}
.sectionIndex .servicios {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 150px;
}
.sectionIndex .servicios .card img {
  width: auto;
  height: 350px;
  object-fit: fill;
}
.sectionIndex .servicios .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.sectionIndex .servicios .card .card-body h5 {
  font-family: "Poltawski Nowy", serif;
  font-size: 30px;
  text-align: center;
}
.sectionIndex .servicios .card .card-body .btn {
  font-family: "Poltawski Nowy", serif;
  font-size: 20px;
  text-align: right;
}

.sectionContacto {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.sectionContacto h2 {
  font-family: "Poltawski Nowy", serif;
  font-size: 40px;
  text-align: center;
}
.sectionContacto .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.sectionContacto .container .direccion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.sectionContacto .container .direccion h2 {
  font-family: "Poltawski Nowy", serif;
  font-size: 25px;
  text-align: center;
}
.sectionContacto .container .telefonos {
  width: 100vw;
  background-color: lightgray;
}
.sectionContacto .container .telefonos ul li {
  font-family: "Poltawski Nowy", serif;
  font-size: 30px;
  text-align: center;
  border-style: groove;
  padding: 5px;
}

.empresa {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 40px;
}
.empresa .info1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
}
.empresa .info1 div {
  width: 50vw;
}
.empresa .info1 div h2 {
  font-family: "Poltawski Nowy", serif;
  font-size: xx-large;
  text-align: center;
}
.empresa .info1 div p {
  font-family: "Poltawski Nowy", serif;
  font-size: x-large;
  text-align: justify;
}
.empresa .info1 img {
  width: 300px;
  height: auto;
}
.empresa .info2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
}
.empresa .info2 img {
  width: 300px;
  height: auto;
}
.empresa .info2 div {
  width: 50vw;
}
.empresa .info2 div h2 {
  font-family: "Poltawski Nowy", serif;
  font-size: xx-large;
  text-align: center;
}
.empresa .info2 div p {
  font-family: "Poltawski Nowy", serif;
  font-size: x-large;
  text-align: justify;
}
.empresa .info2 div ul {
  list-style: circle;
}
.empresa .info2 div ul li {
  font-family: "Poltawski Nowy", serif;
  font-size: x-large;
  text-align: justify;
}

.clientes {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.clientes h2 {
  font-family: "Poltawski Nowy", serif;
  font-size: 60px;
  text-align: center;
}
.clientes .carousels {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10vw;
}
.clientes .carousels .carousel .carousel-inner {
  width: 300px;
  height: 400px;
  text-align: center;
}
.clientes .carousels .carousel .carousel-inner .carousel-item img {
  object-fit: fill;
  width: 100%;
  height: auto;
}

.equipo {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.equipo .titulo h2 {
  font-family: "Poltawski Nowy", serif;
  font-size: x-large;
  text-align: center;
}
.equipo .info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.equipo .info .imagenes {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.equipo .info .imagenes img {
  object-fit: cover;
  width: 250px;
  height: 250px;
}
.equipo .info .texto {
  width: 40vw;
}
.equipo .info .texto h2 {
  font-family: "Poltawski Nowy", serif;
  font-size: xx-large;
  text-align: center;
}
.equipo .info .texto p {
  font-family: "Poltawski Nowy", serif;
  font-size: x-large;
  text-align: justify;
}

.equipamiento {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5px;
}
.equipamiento .equipamiento-info {
  width: 80vw;
}
.equipamiento .equipamiento-info h2 {
  font-family: "Poltawski Nowy", serif;
  font-size: xx-large;
  text-align: center;
}
.equipamiento .equipamiento-info p {
  font-family: "Poltawski Nowy", serif;
  font-size: x-large;
  text-align: justify;
}
.equipamiento .equipamiento-galeria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.equipamiento .equipamiento-galeria div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.equipamiento .equipamiento-galeria div img {
  width: auto;
  height: 250px;
}

/*# sourceMappingURL=style.css.map */
