@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Poltawski+Nowy&family=Roboto+Slab:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Poltawski+Nowy&family=Roboto+Slab:wght@200;300&family=Ubuntu:ital,wght@1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.generalNavBar {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5px;
}
.generalNavBar .nbDiv1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.generalNavBar .nbDiv1 h1 {
  font-size: 60px;
  font-family: "Poltawski Nowy", serif;
}
.generalNavBar .nbDiv1 img {
  width: 128px;
  height: auto;
}
.generalNavBar .nbDiv2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 50px;
}
.generalNavBar .nbDiv2 .btn {
  border-radius: 50px;
  border-style: groove;
  border-color: black;
  border-width: 3px;
  font-family: "Poltawski Nowy", serif;
  font-size: 20px;
}

.footer {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5px;
}
.footer h3 {
  font-family: "Poltawski Nowy", serif;
}
.footer .wrapper {
  display: inline-flex;
  list-style: none;
}
.footer .wrapper .icon {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0px;
  border-radius: 50px;
  border-style: groove;
  border-color: transparent;
  border-width: 1px;
  position: relative;
  background: #ffffff;
  margin: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.footer .wrapper .icon .tooltip {
  border-radius: 50px;
  position: absolute;
  top: 0;
  font-size: 15px;
  padding: 5px 8px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.footer .wrapper .icon .tooltip:before {
  width: 8px;
  height: 8px;
  position: absolute;
  content: "";
  background: rgb(255, 253, 253);
  bottom: -10px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.footer .wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.footer .wrapper .icon:hover svg span {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.footer .wrapper .instagram:hover, .footer .wrapper .instagram .tooltip, .footer .wrapper .instagram:before {
  background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
  color: white;
}
.footer .wrapper .facebook:hover, .footer .wrapper .facebook .tooltip, .footer .wrapper .facebook:before {
  background: #1877F2;
  color: white;
}
.footer .wrapper .whatsapp:hover, .footer .wrapper .whatsapp .tooltip, .footer .wrapper .whatsapp:before {
  background: green;
  color: white;
}
.footer .wrapper .icon span svg {
  color: black;
  width: 28px;
  height: auto;
}
.footer .wrapper .icon:hover span svg {
  color: white;
}

main {
  background: url();
  background-attachment: fixed;
  background-size: cover;
  padding: 20px 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10vh;
}
main div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
main div h2 {
  font-family: "Poltawski Nowy", serif;
  text-align: center;
}
main div ul li {
  font-size: 1.75rem;
  font-family: "Poltawski Nowy", serif;
  text-align: justify;
}
main div .galery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5px;
}
main div .galery div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5px;
}
main div .galery div img {
  width: 200px;
  height: auto;
}
main div .galery div img:hover {
  color: #424242;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.4s ease-in-out;
  opacity: 1;
  transform: scale(1.15);
  -ms-transform: scale(1.15); /* IE 9 */
  -webkit-transform: scale(2); /* Safari and Chrome */
}

/*# sourceMappingURL=style.css.map */
