.fragata{
    padding-top: 20px;
    
    @include display-flex(column,center,center,nowrap,10px);
    h2{
        @include font-style($title-font,4vw,center);
        text-decoration: underline;
    }
    .fragata-info{
        @include border-style(75px,groove,black,5px);
        @include display-flex(column,center,center,nowrap,20px);
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        background: linear-gradient(rgb(189, 189, 189),60%, rgba(255, 255, 255, 0.435));
        padding: 5px;
        div{
            iframe{
                @include width-height(30vw, 30vw);
                border-radius: 25px;
                margin-bottom: 20px;    
            }
        }
        
        p{
            width: 60vw;
            @include font-style($title-font,2vw,justify);
        }
    }
    
}
.irizar{
    
    @include display-flex(column,center,center,nowrap,10px);
    h2{
        @include font-style($title-font,4vw,center);
        text-decoration: underline;
        padding: 40px 0px 20px 0px;
        margin:0px;
    }
    .irizar-info{
        @include border-style(75px,groove,black,5px);
        @include display-flex(row,center,center,nowrap,50px);
        padding: 20px;
        background: linear-gradient(rgb(189, 189, 189),60%,rgba(255, 255, 255, 0.435));
        .irizar-galeria{
            @include display-flex(column,center,center,wrap,10px);
            div{
                
                @include display-flex(row,center,center,wrap,10px);
                img{
                    @include width-height(12vw,12vw);
                    object-fit: cover;
                    border-radius: 75px;
                }
            }
        }
        p{
            width: 30vw;
            @include font-style($title-font,2vw,justify);
            color: black;
            position: relative;
        }
    }

}