.sectionContacto{
    padding: 20px 0px;
    
    @include display-flex(column, center,center,nowrap,20px);
    h2{
        @include font-style($title-font,4vw,center);
        background: rgba(255, 255, 255, 0.435);
        border-radius: 100px;
        padding: 10px;

    }
    .container{
        @include display-flex(row, center,center,nowrap,2vw);
        .direccion{
            background-color: lightgray;
            padding: 30px;
            border-radius: 75px;
            @include display-flex(column, center,center,nowrap,10px);
            h3{
                @include font-style($title-font,1.8vw,center);
            }
            iframe{
                @include width-height(40vw,27vw);
                border-radius: 25px;
            }
        }
        .telefonos{
            background-color: lightgray;
            border-radius: 75px;
            ul{
                @include width-height(35vw,31vw);
                list-style: none;
                li{
                    @include font-style($text-font,2.2vw,center);
                    padding: 5px;
                }
            }
        }
    }
}