.equipo{
    padding: 20px;
    @include display-flex(column, center, center, nowrap, 10px);
    .info{
        @include display-flex(row, center, center, nowrap, 10px);
        .imagenes{
            width: 30vw;
            @include display-flex(column, center, center, nowrap, 10px);
            img{
                object-fit: cover;
                @include border-style(75px,groove,grey,5px);
                @include width-height(23vw,250px);
            }
        }
        .texto{
            width: 40vw;
            @include border-style(100px,groove,grey,5px);
            background-color: rgb(189, 189, 189);
            padding: 40px;
            h2{
                @include font-style($title-font,2.5vw,center);
                text-decoration: solid;
                text-decoration-line: underline;
            }
            p{
                @include font-style($text-font,x-large,justify);
            }
        }
    }
}
.equipamiento{
    padding: 20px;
    
    @include display-flex(column, center,center,nowrap,5px);
    .equipamiento-info{
        width: 80vw;
        @include border-style(100px,groove,grey,5px);
            background-color: rgb(189, 189, 189);
        padding: 30px;
        h2{
            @include font-style($title-font,2.5vw,center);
            text-decoration: solid;
            text-decoration-line: underline;
        }
        p{
            @include font-style($text-font, x-large,justify)
        }
    }
    .equipamiento-galeria{
        background: linear-gradient(rgb(189, 189, 189),60%, rgb(0, 0, 0));
        @include display-flex(column,center,center,wrap,20px);
        @include border-style(75px,groove,grey,5px);
        padding: 40px;
        div{
            @include display-flex(row,center,center,wrap,10px);
        img{
            @include width-height(28vw,auto);
            border-radius: 50px;
            
        }
        }
        
    }
}
