body{
    background: url('../../images/bg.jpg');
    background-attachment: fixed;
    background-size: cover;
}
.sectionIndex{
    
    padding: 20px 50px;
    @include display-flex(column,center,center,nowrap,10px);
    h2{
        @include font-style($title-font,50px,center);
    }
    .servicios{
        @include display-flex(row,center,center,nowrap,150px);
        .card{
            img{
                @include width-height(auto,350px);
                object-fit: fill;
            }
            
            .card-body{
                @include display-flex(column,center,center,nowrap,10px);
                h5{
                    @include font-style($title-font,30px,center);
                }
                .btn{
                    @include font-style($text-font,20px,right);
                }
            }
        }
    }
    
}
