@media only screen and (max-width: 1399.99px){
    //navbar
    .generalNavBar{
        padding-bottom:10px;
        .nbDiv1{
            h1{
                position: relative;
                top: -10px;
            }
        }
        .nbDiv2{
            gap: 1.3vw;
            .btn{
                font-size: 1.3vw;
                position: relative;

                
            }
        }
    }

    //footer
    .footer{
        h3{
            font-size: 2vw;
        }
    }

    //antecedentes
    .antecedentesMain{
        .fragata-info{
            iframe{
                @include width-height(40vw, 40vw);
            }
        }
    }

    //serv-navales
    .servicios-navales{
        .servNavales{
            ul{
                li{
                    font-size: 1.7vw;
                }
            }
            .serNavales-galeria{
                flex-direction: row;
                padding: 20px;
                div{
                    flex-direction: column;
                    img{
                        @include width-height(16vw,auto);
                    }
                }
            }
        }
    }

    //serv-petroleros
    .servicios-petroleros{
        .servPetroleros{
            .servPetroleros-galeria{
                div{
                    img{
                        @include width-height(15vw,auto);
                    }
                }
            }
        }
    }

    
}