@media only screen and (max-width: 1399.99px){
    //navbar
    .navbar{
        padding-bottom:10px;
        .nbDiv1{
            h1{
                transform: translateY(-10px);
            }
        }
        .nbDiv2{
            .container{
                .offcanvas{
                    .offcanvas-body{
                        .navbar-nav{
                            gap: 0vw;
                            .nav-item{
                                transform: translateY(5px);
                                font-size: 1.5vw;
                            }
                        }
                    }
                }
            }
            
        }
    }

    //footer
    .footer{
        margin: 20px 0px;
        transform: translateX(35.1vw);
    }

    //antecedentes
    .antecedentesMain{
        .fragata-info{
            iframe{
                @include width-height(40vw, 40vw);
            }
        }
    }
    
    //serv-petroleros
    .servicios-petroleros{
        .servPetroleros{
            .servPetroleros-galeria{
                div{
                    img{
                        @include width-height(13vw,13vw);
                    }
                }
            }
        }
    }

    
}
@media only screen and (max-width: 1199.99px){
    //navbar
    .navbar{
        gap: 21.7vw;
        .nbDiv1{
            h1{
                transform: translateY(-16px);
                font-size: 1.8vw;
            }
        }
        .nbDiv2{
            .container{
                .offcanvas{
                    .offcanvas-body{
                        .navbar-nav{
                            .nav-item{
                                font-size: 1.3vw;
                            }
                        }
                    }
                }
            }
            
        }
    }
    //footer
    .footer{
        .icon{
            span{
                a{
                    svg{
                        position: relative;
                        top: -1px;
                    }
                }
            }
        }
    }
    //servicios petroleros
    .servicios-petroleros{
        .servPetroleros{
            .servPetroleros-galeria{
                padding: 20px;
                div{
                    img{
                        border-radius: 25px;
                        @include width-height(12vw,12vw);
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 991px){
    //navbar
    .navbar{
        gap: 25vw;
        .nbDiv1{
            h1{
                transform: translateY(-0.5vw);
                font-size: 4vw;
            }
        }
        .nbDiv2{
            .container{
                .offcanvas{
                    .offcanvas-body{
                        
                        .navbar-nav{
                            flex-direction: column;
                            gap: 3vw;
                            .nav-item{
                                font-size: 3.5vw;
                                
                                .dropdown-menu{ 
                                    background-color:  inherit;
                                    width:25vw;
                                    .dropdown-item{
                                        font-size: 2vw
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
        }
    }
    //footer
    .footer{
        @include width-height (35vw, 10vw);
        transform: translateX(31.8vw);
        .wrapper{
            padding: 0px;
            .icon{
                @include width-height(40px,40px);
                
                span{
                    a{
                        svg{
                            color: white;
                            @include width-height(25px,25px);
                        }
                    }
                }
                .tooltip{
                    display: none;
                }
            }
            .whatsapp{
                background: green;
            }
            .facebook{
                background: #1877F2;
            }
            .instagram{
                background: $instagram-background;
            }
        }
    }
    //index
    .sectionIndex{
        
        .servicios{
            flex-direction: column;
            div{
                .card{
                    img{
                        @include width-height(35vw,35vw)
                    }
                    .card-body{
                        padding: 0px;
                        width: 100%;
                        h3{
                            font-size: 2.5vw;
                        }
                    }
                }
            }
        }
    }
    //servicios navales
    .servicios-navales{
        .servNavales{
            flex-direction: column;
            gap: 10px;
            ul{
                @include text-border-style(transparent,square,70vw,20px);

                li{
                    font-size: 2.3vw;
                    font-weight: bold;
                }
            }
            .serNavales-galeria{
                div{
                    img{
                        @include width-height(20vw,20vw);
                    }
                }
            }
        }
        
    }
    //servicios industria petrolera
    .servicios-petroleros{
        .servPetroleros{
            flex-direction: column;
            gap: 10px;
            ul{
                @include text-border-style(transparent,square,70vw,20px);
                margin-bottom: 5px;
                li{
                    font-size: 2.3vw;
                    font-weight: bold;
                }
            }
            .servPetroleros-galeria{
                div{
                    flex-direction: row;
                    img{
                        @include width-height(20vw,20vw);
                    }
                }
            }
        }
    }
    //servicios transporte de residuos
    .servicios-transporte{
        .servTransporte{
            flex-direction: column;
            gap: 10px;
            ul{
                @include text-border-style(transparent,square,70vw,20px);

                li{
                    font-size: 3vw;
                    font-weight: bold;
                }
            }
            .servTransporte-galeria{
                div{
                    img{
                        @include width-height(20vw,20vw);
                    }
                }
            }
        }
    }
    //servicios de gruas
    .servicios-gruas{
        .servGruas{
            flex-direction: column;
            gap: 10px;
            ul{
                @include text-border-style(transparent,square,70vw,20px);

                li{
                    font-size: 3vw;
                    font-weight: bold;
                }
            }
            .serGruas-galeria{
                
                div{
                    flex-direction:row ;
                    img{
                        @include width-height(30vw,30vw);
                    }
                }
            }
        }
    }
    //antecedentes
    .fragata{
        .fragata-info{
            div{
                iframe{
                    @include width-height(400px, 400px);
                    
                }
            }
            p{
                font-size: 2.5vw;
            }
        }
    }
    .irizar{
        .irizar-info{
            flex-direction: column;
            width: 65vw;
            gap: 10px;
            .irizar-galeria{
                div{
                    img{
                        @include width-height(20vw,20vw);
                        border-radius: 50px;
                    }
                }
                
            }
            p{
                width: 80%;
                font-size:2.5vw ;
            }
        }
        
    }
    //equipamiento
    .equipo{
        .info{
            .imagenes{
                img{
                    @include width-height(25vw,15vw);
                }
            }
            .texto{
                p{
                    font-size: 1.7vw;
                }
            }
        }
    }
    .equipamiento{
        .equipamiento-info{
            p{
                font-size: 1.8vw;
            }
        }
    }
    //quienes somos
    .empresa{
        .info1{
            div{
                p{
                    font-size: 1.7vw;
                }
            }
            img{
                @include width-height(25vw,auto);
                border-radius: 50px;
            }
        }
        .info2{
            width: 100%;
            img{
                border-radius: 50px;
                @include width-height(35vw,auto);
            }
            div{
                p{
                    font-size: 1.8vw;
                }
                ul{
                    li{
                        font-size: 1.6vw;
                    }
                } 
            }
        }
    }
    //contacto
    .sectionContacto{
        .container{
            flex-direction: column;
            .direccion{
                iframe{
                    border-radius: 50px;
                }
            }
            .telefonos{
                ul{
                    padding: 0px;
                }
            }
        }
    }
}
@media only screen and (max-width: 576px) {
    //navbar
    .navbar{
        width: 100%;
        gap: 10vw;
        .nbDiv1{
            h1{
                font-size: 4.5vw;
            }
            img{
                @include width-height(15vw, 15vw);
            }
        }
        .nbDiv2{
            .container{
                .btn{
                    @include width-height(40px,40px);
                    .navbar-toggler-icon{
                        @include width-height(35px,35px);
                        transform: translate(-11px,-3.5px);
                    }
                }
                .offcanvas{
                    width: 70vw;
                    .offcanvas-body{
                        .navbar-nav{
                            flex-direction: column;
                            gap: 3vw;
                            align-items: center;
                            justify-content: center;
                            .nav-item{
                                display: flex;
                                flex-direction: column;
                                font-size: 5vw;
                                align-items: center;
                                justify-content: center;
                                .dropdown-menu{
                                    width: 45vw;
                                    .dropdown-item{
                                        font-size: 3.5vw;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
        }
    }
    //footer
    .footer{
        @include width-height (50vw, 18vw);
        transform: translateX(25.5vw);
        margin: 15px 0px;
        p{
            font-size: 2vw;
        }
        .wrapper{
            transform: translate(0px,-5px);
            margin: 0px;
            gap: 10px;
            .icon{
                @include width-height(30px,30px);
                margin: 5px;
                span{
                    a{
                        svg{
                            color: white;
                            @include width-height(20px,20px);
                            
                        }
                    }
                }
            }
            .whatsapp{
                background: green;
            }
            .facebook{
                background: #1877F2;
            }
            .instagram{
                background: $instagram-background;
            }
        }
    }
    //index
    .sectionIndex{
        h2{
                font-size: 8vw;
            }
        .servicios{
            flex-direction: column;
            div{
                .card{
                    img{
                        @include width-height(45vw,45vw)
                    }
                    .card-body{
                        h3{
                            font-size: 3.5vw;
                        }
                    }
                }
            }
        }
    }
    //contacto
    .sectionContacto{
        .container{
            flex-direction: column;
            .direccion{
                iframe{
                    border-radius: 50px;
                }
            }
            .telefonos{
                ul{
                    @include width-height(50vw,32vw);
                    padding: 0px;
                }
            }
        }
    }
    //servicios navales
    .servicios-navales{
        h2{
            font-size: 4vw;
        }
        .servNavales{
            flex-direction: column;
            gap: 10px;
            ul{
                padding: 5px;
                margin-bottom: 0px;
                li{
                    font-size: 3.5vw;
                }
            }
            .serNavales-galeria{
                border-radius: 25px;
                div{
                    img{
                        border-radius: 25px;
                    }
                }
            }
        }
    }
    //servicios industria petrolera
    .servicios-petroleros{
        h2{
            font-size: 4vw;
        }
        .servPetroleros{
            flex-direction: column;
            gap: 10px;
            ul{
                margin: 0px;
                padding: 5px;
                li{
                    font-size: 3.5vw;
                }
            }
            .servPetroleros-galeria{
                padding: 15px;
                flex-direction: row;
                div{
                    img{
                        border-radius: 25px;
                    }
                }
            }
        }
    }
    //servicios transporte de residuos
    .servicios-transporte{
        h2{
            font-size: 4vw;
        }
        .servTransporte{
            ul{
                margin: 0px;
                padding: 5px;
                li{
                    font-size: 4vw;
                }
            }
            .servTransporte-galeria{
                border-radius: 25px;
                div{
                    img{
                        border-radius: 25px;
                    }
                }
            }
        }
    }
    //servicios de gruas
    .servicios-gruas{
        h2{
            font-family: 5vw;
        }
        .servGruas{
            ul{
                margin: 0px;
                padding: 5px;

                li{
                    font-size: 4vw;
                }
            }
            .serGruas-galeria{
                border-radius: 25px;
                div{
                    img{
                        border-radius: 25px;
                    }
                }
            }
        }
    }
    //antecedentes
    .fragata{
        h2{
            font-size: 7vw;
        }
        .fragata-info{
            margin: 0px;
            padding: 10px 5px 10px 5px;
            border-radius: 0px;
            width: 70vw;
            div{
                height: 50vw;
                iframe{
                    @include width-height(60vw, 60vw);
                    border-width: 0px;
                    margin: 0px;
                }
            }
            p{
                font-size: 3.5vw;
            }
        }
    }
    .irizar{
        h2{
            font-size: 8vw;
            padding-bottom:5px ;
        }
        .irizar-info{
            flex-direction: column-reverse;
            gap: 10px;
            width: 70vw;
            padding: 15px 5px;
            border-radius: 40px;
            .irizar-galeria{
                div{
                    gap: 25px;
                    img{
                        @include width-height(22vw,22vw);
                        border-radius: 20px;
                    }
                }
                
            }
            p{
                width: 80%;
                font-size:4vw ;
                margin: 0px;
            }
        }
        
    }
    //contacto
    .sectionContacto{
        h2{
            font-size: 7vw;
        }
        .container{
            .direccion{
                padding: 0px;
                border-radius: 20px;

                @include width-height(80vw,70vw);
                h3{
                    font-size: 5vw;
                }
                iframe{
                    @include width-height(70vw,40vw);
                    border-radius: 20px;
                }
            }
            .telefonos{
                @include width-height(80vw,65vw);
                border-radius: 20px;
                justify-content: center;
                align-content:center ;
                display: flex;
                ul{
                    li{
                        width: 100%;
                        font-size: 4.1vw;
                    }
                }
            }
        }
    }
    //equipamiento
    .equipo{
        
        .info{
            gap: 0px;
            .imagenes{
                width: 35%;
                img{
                    @include width-height(30vw,20vw);
                    border-radius: 25px;
                }
            }
            .texto{
                border-radius: 25px;
                padding: 5px;
                width: 60%;
                h2{
                    font-size: 4vw;
                }
                p{
                    font-size:3vw;
                }
            }
        }
    }
    .equipamiento{
        .equipamiento-info{
            width: 90vw;
            border-radius: 25px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            padding: 15px;
            h2{
                font-size: 4vw;
            }
            p{
                font-size: 3.5vw;
            }
        }
        .equipamiento-galeria{
            border-radius: 25px;
            border-top-right-radius: 0px;
            border-top-left-radius: 0px;
            padding: 10px;
            width: 90vw;
            div{
                img{
                    border-radius: 25px;
                    @include width-height(25vw,20vw);
                }
            }

        }
    }
    //quienes somos
    .empresa{
        gap: 0;
        .info1{
            flex-direction: column;
            div{
                background: linear-gradient(rgba(255, 255, 255, 0.435),20%,rgb(189, 189, 189));
                border-radius: 75px;
                width: 80vw;
                h2{
                    font-size: 5vw;
                }
                p{
                    font-size: 3.5vw;
                }
            }
            img{
                display: none;
            }
            
        }
        .info2{
            flex-direction: column;
            width: 100%;
            img{
                @include width-height(60vw,auto);
            }
            div{
                background: linear-gradient(rgb(189, 189, 189),40%,rgba(255, 255, 255, 0.435));
                border-radius: 25px;
                width: 80vw;
                h2{
                    font-size: 5vw;
                }
                p{
                    font-size: 3.5vw;
                }
                ul{
                    li{
                        padding: 0px;
                        font-weight: bold;
                        font-size: 3vw;
                    }
                } 
            }
        }
    }
    .clientes{
        padding: 20px;
        border-radius: 50px;
        h2{
            font-size: 8vw
        }
        .carousels{
            .carousel{
                .carousel-inner{
                    @include width-height(20vw,20vw);
                    .carousel-item{
                        img{
                            @include width-height(50vw,auto);
                        }
                    }
                }
            }
        }
    
    }
    
    
}