@media only screen and (max-width: 1399.99px){
    //navbar
    .navbar{
        padding-bottom:10px;
        .nbDiv1{
            h1{
                transform: translateY(-10px);
            }
        }
        .nbDiv2{
            .container{
                .offcanvas{
                    .offcanvas-body{
                        .navbar-nav{
                            gap: 0vw;
                            .nav-item{
                                transform: translateY(5px);
                                font-size: 1.5vw;
                            }
                        }
                    }
                }
            }
            
        }
    }

    //footer
    .footer{
        h3{
            font-size: 2vw;
        }
    }

    //antecedentes
    .antecedentesMain{
        .fragata-info{
            iframe{
                @include width-height(40vw, 40vw);
            }
        }
    }
    
    //serv-petroleros
    .servicios-petroleros{
        .servPetroleros{
            .servPetroleros-galeria{
                div{
                    img{
                        @include width-height(13vw,13vw);
                    }
                }
            }
        }
    }

    
}
@media only screen and (max-width: 1199.99px){
    //navbar
    .navbar{
        gap: 21.7vw;
        .nbDiv1{
            h1{
                transform: translateY(-16px);
                font-size: 1.8vw;
            }
        }
        .nbDiv2{
            .container{
                .offcanvas{
                    .offcanvas-body{
                        .navbar-nav{
                            .nav-item{
                                font-size: 1.3vw;
                            }
                        }
                    }
                }
            }
            
        }
    }
    //footer
    .footer{
        .icon{
            span{
                a{
                    svg{
                        position: relative;
                        top: -1px;
                    }
                }
            }
        }
    }

}
@media only screen and (max-width: 991px){
    //navbar
    .navbar{
        gap: 25vw;
        .nbDiv1{
            h1{
                transform: translateY(-0.5vw);
                font-size: 4vw;
            }
        }
        .nbDiv2{
            .container{
                .offcanvas{
                    .offcanvas-body{
                        
                        .navbar-nav{
                            flex-direction: column;
                            gap: 3vw;
                            .nav-item{
                                font-size: 3.5vw;
                                
                                .dropdown-menu{ 
                                    background-color:  inherit;
                                    width:25vw;
                                    .dropdown-item{
                                        font-size: 2vw
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
        }
    }
    //footer
    .footer{
        .wrapper{
            padding: 0px;
            .icon{
                @include width-height(40px,40px);
                
                span{
                    a{
                        svg{
                            color: white;
                            @include width-height(25px,25px);
                        }
                    }
                }
                .tooltip{
                    display: none;
                }
            }
            .whatsapp{
                background: green;
            }
            .facebook{
                background: #1877F2;
            }
            .instagram{
                background: $instagram-background;
            }
        }
    }
    //index
    .sectionIndex{
        
        .servicios{
            flex-direction: column;
            div{
                .card{
                    img{
                        @include width-height(35vw,35vw)
                    }
                    .card-body{
                        padding: 0px;
                        width: 100%;
                        h3{
                            font-size: 2.5vw;
                        }
                    }
                }
            }
        }
    }
    //servicios navales
    .servicios-navales{
        .servNavales{
            flex-direction: column;
            gap: 10px;
            ul{
                @include text-border-style(transparent,square,70vw,20px);

                li{
                    font-size: 2.3vw;
                    font-weight: bold;
                }
            }
            .serNavales-galeria{
                div{
                    img{
                        @include width-height(20vw,20vw);
                    }
                }
            }
        }
        
    }
    //servicios industria petrolera
    .servicios-petroleros{
        .servPetroleros{
            flex-direction: column;
            gap: 10px;
            ul{
                @include text-border-style(transparent,square,70vw,20px);

                li{
                    font-size: 2.3vw;
                    font-weight: bold;
                }
            }
            .servPetroleros-galeria{
                flex-direction: row;
                div{
                    flex-direction: column;
                    img{
                        @include width-height(20vw,20vw);
                    }
                }
            }
        }
    }
    //servicios transporte de residuos
    .servicios-transporte{
        .servTransporte{
            flex-direction: column;
            gap: 10px;
            ul{
                @include text-border-style(transparent,square,70vw,20px);

                li{
                    font-size: 3vw;
                    font-weight: bold;
                }
            }
            .servTransporte-galeria{
                div{
                    img{
                        @include width-height(20vw,20vw);
                    }
                }
            }
        }
    }
    //servicios de gruas
    .servicios-gruas{
        .servGruas{
            flex-direction: column;
            gap: 10px;
            ul{
                @include text-border-style(transparent,square,70vw,20px);

                li{
                    font-size: 3vw;
                    font-weight: bold;
                }
            }
            .serGruas-galeria{
                
                div{
                    flex-direction:row ;
                    img{
                        @include width-height(30vw,30vw);
                    }
                }
            }
        }
    }
    //antecedentes
    .fragata{
        .fragata-info{
            div{
                iframe{
                    @include width-height(400px, 400px);
                    
                }
            }
            p{
                font-size: 2.5vw;
            }
        }
    }
    .irizar{
        .irizar-info{
            flex-direction: column;
            width: 65vw;;
            .irizar-galeria{
                div{
                    img{
                        @include width-height(15vw,15vw);
                        border-radius: 50px;
                    }
                }
                
            }
            p{
                width: 80%;
                font-size:2.5vw ;
            }
        }
        
    }
    //equipamiento
    .equipo{
        .info{
            .imagenes{
                img{
                    @include width-height(25vw,15vw);
                }
            }
            .texto{
                p{
                    font-size: 1.7vw;
                }
            }
        }
    }
    .equipamiento{
        .equipamiento-info{
            p{
                font-size: 1.8vw;
            }
        }
    }
    //quienes somos
    .empresa{
        .info1{
            div{
                p{
                    font-size: 1.7vw;
                }
            }
            img{
                @include width-height(25vw,auto);
                border-radius: 50px;
            }
        }
        .info2{
            width: 100%;
            img{
                @include width-height(30vw,auto);
                border-radius: 50px;
                @include width-height(35vw,auto);
            }
            div{
                p{
                    font-size: 1.8vw;
                }
                ul{
                    li{
                        font-size: 1.6vw;
                    }
                } 
            }
        }
    }
    //contacto
    .sectionContacto{
        .container{
            flex-direction: column;
            .direccion{
                iframe{
                    border-radius: 50px;
                }
            }
            .telefonos{
                ul{
                    padding: 0px;
                }
            }
        }
    }
}
@media only screen and (max-width: 576px) {
    //navbar
    .navbar{
        width: 100%;
        gap: 10vw;
        .nbDiv1{
            h1{
                font-size: 4.5vw;
            }
            img{
                @include width-height(15vw, 15vw);
            }
        }
        .nbDiv2{
            .container{
                .btn{
                    @include width-height(7vw,7vw);
                    span{
                        @include width-height(7vw,7vw);
                        transform: translate(-2.2vw,-1vw);
                    }
                }
                .offcanvas{
                    .offcanvas-body{
                        .navbar-nav{
                            flex-direction: column;
                            gap: 3vw;
                            align-items: center;
                            justify-content: center;
                            .nav-item{
                                display: flex;
                                flex-direction: column;
                                font-size: 3.5vw;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }
                }
            }
            
        }
    }
    //footer
    .footer{
        padding: 5px 0px 5px 0px;
        margin: 0px;
        h3{
            font-size: 2.5vw;
        }
        .wrapper{
            transform: translate(0px,-5px);
            margin: 0px;
            .icon{
                
                @include width-height(6vw,6vw);
                margin: 5px;
                span{
                    a{
                        svg{
                            color: white;
                            @include width-height(3vw,3vw);
                            transform: translate(-0.5px,-1px);
                        }
                    }
                }
            }
            .whatsapp{
                background: green;
            }
            .facebook{
                background: #1877F2;
            }
            .instagram{
                background: $instagram-background;
            }
        }
    }
    //contacto
    .sectionContacto{
        .container{
            flex-direction: column;
            .direccion{
                iframe{
                    border-radius: 50px;
                }
            }
            .telefonos{
                ul{
                    @include width-height(50vw,32vw);
                    padding: 0px;
                }
            }
        }
    }
}