
.empresa{
    padding: 20px;
    @include display-flex(column, center, center, nowrap, 40px);
    .info1{
        @include display-flex(row, center, center, nowrap, 20px);
        div{
            z-index: -1;
            @include border-style(75px,groove,grey,5px);
            @include text-border-style(rgb(189, 189, 189),none,60vw,30px);
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            h2{
                @include font-style($title-font,3vw,center);
                text-decoration: solid;
            text-decoration-line: underline;
            }
            p{
                @include font-style($text-font,1.5vw, justify);
            }
        }
        img{
            z-index: -1;;
            @include width-height(22vw,auto);
            @include border-style(75px,groove,grey,5px);
        }
    }
    .info2{
        @include display-flex(row, center, center, nowrap, 20px);
        img{
            @include width-height(30vw,auto);
            @include border-style(75px,groove,grey,5px);
        }
        div{
            @include border-style(75px,groove,grey,5px);
            @include text-border-style(rgb(189, 189, 189),none,60vw,30px);
            padding-bottom: 5px;
            padding-top: 5px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            h2{
                @include font-style($title-font,3vw,center);
                text-decoration: solid;
                text-decoration-line: underline;
            }
            p{
                @include font-style($text-font,1.5vw, justify);
            }
            ul{
                list-style: circle;
                li{
                    @include font-style($text-font,1.5vw, justify);
                }
            }
        }
    }
}
.clientes{
    background: linear-gradient(rgb(189, 189, 189),60%, rgb(0, 0, 0));
    border-radius:150px ;
    margin: 5px 30px;
    padding: 20px;
    @include display-flex (column, center,center,nowrap,10px);
    h2{
        @include font-style($text-font,60px,center);
    }
    .carousels{
        @include display-flex (row, center,center,wrap,10vw);
        .carousel{
            .carousel-inner{
                @include width-height(20vw,20vw);
                display: flex;
                align-items: center;
                .carousel-item{
                    img{
                        object-fit: contain;
                        @include width-height(20vw,auto);
                    }
                }
            }
        }
    }
    
}