.servicios-petroleros{
    padding: 20px 0px;
    @include display-flex(column, center,center,nowrap,10px);
    h2{
        @include font-style($title-font,3vw,center);
        background: rgba(255, 255, 255, 0.435);
        border-radius: 100px;
        padding: 10px;
    }
    .servPetroleros{
        @include display-flex(row, center,center,nowrap,30px);
        
        ul{
            @include text-border-style(rgb(189, 189, 189),square,40vw,40px);
            background-color: transparent;
            border-top-left-radius: 0px;
            border-bottom-right-radius: 0px;
            li{
                @include font-style($text-font,1.7vw,justify);
            }
        }
        .servPetroleros-galeria{
            @include display-flex(column, center,center,nowrap,10px);
            @include border-style(50px,double,grey,8px);
            padding: 40px;
            background-color: rgba(176, 173, 173, 0.404);
            
            div{
                @include display-flex(row,center,center,nowrap,10px);
                img{
                    object-fit: cover;
                    border-radius: 50px;
                    @include width-height(11vw,11vw);
                }
            }
        }
    }
}