
.servicios-navales{
    padding: 20px 0px;
    @include display-flex(column, center,center,nowrap,10px);
    h2{
        @include font-style($title-font,3vw,center);
        background: rgba(255, 255, 255, 0.435);
        border-radius: 100px;
        padding: 10px;
    }
    .servNavales{
        @include display-flex(row, center,center,nowrap,30px);
        ul{
            
            @include text-border-style(transparent,square,40vw,30px);
            li{
                @include font-style($text-font,1.7vw,justify);
            }
        }
        .serNavales-galeria{
            @include display-flex(column, center,center,nowrap,10px);
            @include border-style(50px,double,grey,8px);
            padding: 2vw;
            background-color: rgba(176, 173, 173, 0.404);
            
            div{ 
                @include display-flex(row,center,center,wrap,10px);
                img{
                    object-fit: cover;
                    @include width-height(15vw,15vw);
                    border-radius: 50px;
                } 
            }
        }
    }
}