.footer{
    padding: 20px 0px;
    @include display-flex(column,center,center,nowrap, 5px);
    h3{
        font-family: $title-font;
    }
    ul{
        list-style: none;
        padding: 5px;
        @include display-flex(row,center,center,nowrap,40px);
        border-style: groove;
        border-radius: 75px;
        border-color: black;
        li{
            svg{
                @include width-height(35px,auto);
                color: #222;
            }
        }
        
    }
}