.footer{
    @include display-flex(column, center,center,nowrap,1vw);
    @include width-height (30vw, 7vw);
    border-radius:100px ;
    background-color: rgb(212, 212, 212);
    transform: translateX(34.5vw);

    margin: 20px;
    p{
        font-size: 1vw;
        height: 1px;
    }
    .wrapper {
        @include display-flex(row, center,center,nowrap,2vw);
        list-style: none;
        padding: 0px;
        margin: 0px;
        
        .icon {
            @include width-height(2.5vw,2.5vw);
            @include display-flex(column, center, center,nowrap,0px);
            @include border-style(50px, groove, transparent, 1px);
            position: relative;
            background: #ffffff;
            box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);

            .tooltip {
                border-radius: 50px;
                position: absolute;
                top: 0;
                font-size: 15px;
                padding: 5px 8px;
                box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
                opacity: 0;
                pointer-events: none;
                transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

                &:before {
                    @include width-height(8px,8px);
                    position: absolute;
                    content: "";
                    background: rgb(255, 253, 253);
                    bottom: -10px;
                    left: 50%;
                    transform: translate(-50%) rotate(45deg);
                    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                }
            }
            &:hover {
                .tooltip{
                    top: -45px;
                    opacity: 1;
                    visibility: visible;
                    pointer-events: auto;
                    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
                }
                svg span{
                    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
                }
            }
            span{
                a{
                    svg{
                        @include width-height(1.5vw,1.5vw);
                    }
                }
            }
        }

        .instagram{
            &:hover, .tooltip, &:before{
                    background: $instagram-background;
                        color: white;
            }
        }
        .facebook{
            &:hover, .tooltip, &:before {
                    background: #1877F2;
                        color: white;
            }
        }
        .whatsapp{
            &:hover, .tooltip, &:before{
                    background: green;
                        color: white;
            }
        }
        .icon {
            span {
                svg{
                    color: black; 
                    @include width-height(28px,auto);
                }
            }
        }
        .icon:hover{
            span{
                svg{
                    color: white;
                }
            }
        }
    }
    
}







