.navbar{
    
    border-bottom: 4px solid black;
    padding-bottom:20px;
    @include display-flex(row,center,center,nowrap,19vw);
    background-color: rgb(212, 212, 212);
    width: 100%;
    .nbDiv1{
        @include display-flex(row,start,end,nowrap,0px);
        h1{
            @include font-style($title-font,2vw,center);
            transform: translateY(-10px);
            a{
                text-decoration: none;
                color: inherit;
            }
        }
        img{
            @include width-height (90px, 90px);
            position: relative;
            top:5px;
        }
    }
    .nbDiv2{
        .container{
            
            padding: 0px;
            .btn-close{
                .navbar-toggler-icon{
                    padding: 20px !important;
                }
            }
            .offcanvas{
                .offcanvas-body{
                    .navbar-nav{
                        @include display-flex(row,center,center,nowrap,1.5vw);
                        width: 100%;
                        padding: 0px;
                        .nav-item{
                            z-index: 1000;
                            margin: 0px 10px;
                            padding: 0px;
                            width: 50%;
                            @include border-style(15px, inset, rgb(167, 167, 167),0px);
                            @include font-style($text-font,1.3vw,center);
                            transform: translateY(5px);
                            transition: all  0.5s ;
                            &:hover{
                                border-radius: 75px;
                                font-weight: bold;
                                transform: translateY(-5px);
                            }
                            .dropdown-menu{ 
                                background-color:  rgb(212, 212, 212);
                                align-items: center;
                                display: column;
                                .dropdown-item{
                                    @include font-style($title-font,1.3vw,center);
                                }
                            }
                            .nav-link{
                                color: inherit;
                                
                            }
                        }
                    }
                }
            }

        }
    }
    
}