.generalNavBar{
    padding-bottom:20px;
    @include display-flex(row,center,center,nowrap,150px);
    @include width-height (auto, auto);
    
    background-color: rgb(212, 212, 212);

    .nbDiv1{
        @include display-flex(row,center,end,nowrap,0px);
        h1{
            @include font-style($text-font,2.5vw,center);
        }
        img{
            @include width-height (auto, 90px);
        }
    }
    .nbDiv2{
        @include display-flex(row,center,center,nowrap,1.5vw);
        position: relative;
        top: 10px;
        .btn{
            @include border-style(15px, inset, rgb(167, 167, 167),3px);
            @include font-style($text-font,1.2vw,center);
            position: relative;
            transition: all ease-in-out 0.1s;

            &:hover{
                border-radius: 75px;
                border-width: 5px;
                padding: 10px;
            }
        }
        .dropdown-menu{ 
            background-color:  rgb(212, 212, 212);
            align-items: center;
            display: column;
            .dropdown-item{
                @include font-style($title-font,1.2vw,center);
            }
        }

    }
}